.new_todo {
    max-width: 75%;
  }

  .new_todo__button {
    padding: 12px 20px;
    margin: 8px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .add_todo{
    max-width: 75%;
    margin: auto;
  }