.todoForm__form {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.todoForm__form_control {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.todoForm__form_control.dateTime {
    width: 175px;
}
.todoForm__form_control_button {
    display: flex;
    flex-direction: row;
    width: 200px;
  }

.todoForm__form_control > input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todoForm__invalid_message{
  color: red;
  font-size: small;
}

.todoForm__form_control__invalid > input {
  border: 1px solid red;
}

.todoForm__form_control__invalid > label {
  color: red;
}

.todoForm__form_control_button > button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
